@font-face
  font-family: 'Google Sans'
  src: '/font/GoogleSans-Medium.eot'
  src: local('Google Sans Medium')
  src:  format('embedded-opentype') url('/font/GoogleSans-Medium.eot?#iefix')
  src:  format('woff2') url('/font/GoogleSans-Medium.woff2')
  src:  format('woff') url('/font/GoogleSans-Medium.woff')
  src:  format('truetype') url('/font/GoogleSans-Medium.ttf')
  font-weight: 500
  font-style: normal

@font-face
  font-family: 'Google Sans'
  src: '/font/GoogleSans-Regular.eot'
  src: local('Google Sans Regular')
  src:  format('embedded-opentype') url('/font/GoogleSans-Regular.eot?#iefix')
  src:  format('woff2') url('/font/GoogleSans-Regular.woff2')
  src:  format('woff') url('/font/GoogleSans-Regular.woff')
  src:  format('truetype') url('/font/GoogleSans-Regular.ttf')
  font-weight: normal
  font-style: normal