.btn {
    padding: 8px 30px;
    background: #fff;
    border-radius: 4px;
    display: inline-block;
    font-size: 14px;
    color: #000;
    font-weight: 700;
    -webkit-box-shadow: 0 10px 25px 0 rgba(112,111,111,0.3);
    box-shadow: 0 10px 25px 0 rgba(112,111,111,0.3);
}

.btn-large {
    padding: 15px 45px;
}

.btn:hover {
    color: #fff;
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: 0;
}

.btn-blue {
    background: #2a74f5;
    color: #fff;
}

.mt-30 {
    margin-top: 30px;
}